{%extends 'base.html'%} {% load static %} {% block title %} mapp ranking
{%endblock title %} {%block content%}
<div class="container" style="width: 50%;">
  <div class="p-3 mb-2 .bg-light">
    <div class="module">
      <h3>Lorem ipsum dolor sit amet.</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut
        necessitatibus quos, odit numquam dolorem unde quae ducimus minus?
        Inventore, sunt?
      </p>
    </div>
    <div class="module">
      <h3>Odio nihil velit officiis dolor?</h3>
      <p>
        Itaque consequatur ipsam ipsum sed at dolore, odio eum quas et fugit
        aspernatur eligendi, tempora inventore molestias reiciendis velit animi.
      </p>
    </div>
    <div class="module">
      <h3>Ad mollitia fugiat quia quis.</h3>
      <p>
        Exercitationem vitae sapiente quibusdam, nemo veniam veritatis ipsam
        cupiditate odio, corporis error laborum tempore nam itaque corrupti
        placeat at consectetur.
      </p>
    </div>
    <div class="module">
      <h3>Repudiandae accusantium labore in doloremque.</h3>
      <p>
        Facere sunt mollitia ipsa tenetur nihil maiores quidem, nulla commodi
        ea, modi est? Atque vel blanditiis, recusandae praesentium quisquam qui!
      </p>
    </div>
    <div class="module">
      <h3>Placeat est possimus reiciendis aliquid.</h3>
      <p>
        Non, libero ab eaque blanditiis quis consectetur ut. Iusto, a? Velit
        corporis delectus quasi praesentium beatae vel sit similique nam.
      </p>
    </div>
    <div class="module">
      <h3>Voluptates necessitatibus error voluptate cupiditate?</h3>
      <p>
        Atque corporis eius quae, voluptate quaerat a necessitatibus harum non
        recusandae architecto excepturi debitis, dolores vero neque earum eos
        mollitia.
      </p>
    </div>
    <div class="module">
      <h3>Deserunt recusandae voluptas ea velit?</h3>
      <p>
        Assumenda quis, impedit aperiam alias modi sunt nobis voluptate nesciunt
        maxime omnis pariatur eos? Eum nulla tenetur nam velit. Doloremque?
      </p>
    </div>
    <div class="module">
      <h3>Laboriosam, itaque quia. Fuga, dicta?</h3>
      <p>
        Quam enim, necessitatibus rem excepturi dolor quia odit quae repudiandae
        placeat dolorum delectus eos atque voluptates ex nulla at iusto!
      </p>
    </div>
    <div class="module">
      <h3>Exercitationem eligendi sint asperiores laudantium!</h3>
      <p>
        Nobis impedit vel laboriosam ex, illo quae consequuntur reiciendis
        quaerat magnam laborum optio corporis harum quo quasi. Dolores,
        assumenda sequi.
      </p>
    </div>
    <div class="module">
      <h3>Expedita asperiores ipsum excepturi maxime?</h3>
      <p>
        Eligendi modi aliquid porro veritatis quidem, voluptatum suscipit!
        Reiciendis dolore excepturi labore ipsam, voluptas corporis officia
        impedit ut repudiandae nostrum.
      </p>
    </div>
  </div>
</div>
{%endblock content%} {%block scripts %} {%endblock scripts %}
