{%extends 'base.html'%} {% load static %} {% block title%} {%endblock title %}
{%block content%}
<div class="col-9">
  <div class="container-fluid">
    <div class="row mb-2 mt-5">
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">NAMI Blog</strong>
            <p class="card-text mb-auto">
              The National Alliance on Mental Illness blog features topics on
              racism, COVID-19, and trauma. NAMI is a national organization that
              provides mental health support and resources. They also work to
              educate and empower those living with mental illness to live
              fulfilling lives.
            </p>
            <a
              href="https://www.nami.org/Blogs/NAMI-Blog"
              class="stretched-link"
              >Continue reading</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success"
              >Time to Change</strong
            >
            <p class="mb-auto">
              Time to Change isn’t just about blogging. They are part of a
              social media campaign to reduce the stigma around mental health
              and encourage honest conversations. Each blog post is written from
              a personal experience and includes categories on depression,
              anxiety, bipolar, and more. This is a great resource if you’re
              looking for a community.
            </p>
            <a
              href="https://www.time-to-change.org.uk/about-us"
              class="stretched-link"
              >Continue reading</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Blurt</strong>
            <p class="card-text mb-auto">
              Sometimes, the best way to talk about depression is just to blurt
              it out. The team at Blurt knows this, and that’s why they’re
              encouraging you to talk about it. They’re a social enterprise
              dedicated to creating positive change, and they want you to know
              that they’re here for you.
            </p>
            <a href="https://www.blurtitout.org/blog/" class="stretched-link"
              >Continue reading</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">The Mighty</strong>
            <p class="mb-auto">
              If you want to hear more stories from people facing the same
              mental health issues you do, the Mighty is a good place to start.
              More than 5 thousand writers have contributed to their articles on
              issues like supporting a friend with PTSD or dealing with mental
              health issues around the holidays.
            </p>
            <a href="https://themighty.com/" class="stretched-link"
              >Continue reading</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock content%} {%block scripts %} {%endblock scripts %}
