{%extends 'base.html'%} {% load static %} {% block title%} {%endblock title %}
{%block content%}
<div class="col-9">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-md-3">
        <p style="text-align: center; font-weight: 800; margin-top: 4rem;">
          FAQ
        </p>
        <ul>
          <li
            class="margin-top: 1.5rem; margin-bottom: 0.3rem; font-size: 36px"
          >
            Q: How do I see my results or compare results with the majority?
          </li>
          <p>
            A: Click on the Results section of the website to be able to see in
            depth analysis about your current state and compare it to the people
            who have filled the survey
          </p>
          <li
            class="margin-top: 1.5rem; margin-bottom: 0.3rem; font-size: 36px"
          >
            Q: I am not sure about the privacy of the answers I have filled in
            the survey , Why should I fill it?
          </li>
          <p>
            A: Filling the survey does not take your name or details that can
            pinpoint to your identity as such data is not saved with us, Only
            data that can help the organisation have an idea about the state of
            their employees for their betterment is saved and complete anonimity
            is provided
          </p>
          <li
            class="margin-top: 1.5rem; margin-bottom: 0.3rem; font-size: 36px"
          >
            Q: I want to see the result of my Anxiety and Depression survey with
            the chatbot.
          </li>
          <p>
            A: You can click on the result section of the website to see the
            kind of mental state you have right now and assess the situtation,
            you can also opt to inform the employer if you need any kind of
            break according to the result.
          </p>
          <li
            class="margin-top: 1.5rem; margin-bottom: 0.3rem; font-size: 36px"
          >
            Q: The Anxiety and Depression survey seems too private to share with
            anyone , I dont want to share it with the organisation.
          </li>
          <p>
            A: The result to that survey is for your eyes only , we only take
            the information from the Mental Health Tech survey not from this
            one.
          </p>
        </ul>
      </div>
    </div>
  </div>
</div>

{%endblock content%} {%block scripts %} {%endblock scripts %}
