{%extends 'base.html'%} {% load static %} {% block title%} {%endblock title %}
{%block content%}
<div class="col-9">
  <div class="container">
    <div class="col-9 offset-md-3">
      <p
        style="
          margin-top: 15rem;
          font-weight: 600;
          font-size: 48px;
          color: rgb(105, 130, 231);
          float: right;
        "
      >
        WELCOME TO WELLTECH
      </p>
      <p
        style="
          font-weight: 600;
          font-size: 48px;
          color: rgb(105, 130, 231);
          float: right;
        "
      >
        Your Mental Health Companion
      </p>
    </div>
  </div>
</div>

{%endblock content%} {%block scripts %} {%endblock scripts %}
